@import "../../../Styles/index.scss";
.prevarrow {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -80px;
  right: 90px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
  .img .arrow-prev {
    border: 1px solid #dad3d3;
    height: 30px;
    width: 30px;
  }
  @media (max-width: 800px) {
    top: -50px;
    left: 40%;
    .img .arrow-prev {
      border: 1px solid #dad3d3;
      height: 40px;
      width: 40px;
    }
  }
}
.nextarrow {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -80px;
  right: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  .img .arrow-next {
    border: 1px solid #dad3d3;
    height: 30px;
    width: 30px;
  }
  @media (max-width: 800px) {
    top: -50px;
    left: 50%;
    .img .arrow-next {
      border: 1px solid #dad3d3;
      height: 40px;
      width: 40px;
    }
  }
}
.slick-slider {
  margin: 0 auto;
  max-width: 100%; /* Adjust the width as needed */
}

/* If needed, adjust the width of the images */
.slick-slide img {
  width: 235px; /* Or specify a fixed width */
  @media (max-width: 800px) {
    max-width: 450px;
  }
}
.slider-wrapper {
  max-width: 1150px;
  @media (max-width: 1650px) {
    max-width: 1100px;
  }
  @media (max-width: 1500px) {
    max-width: 900px;
  }
  @media (max-width: 1300px) {
    max-width: 600px;
  }
  @media (max-width: 1000px) {
    max-width: 550px;
  }
  @media (max-width: 800px) {
    max-width: 450px;
  }
  @media (max-width: 500px) {
    max-width: 250px;
    margin: 0 auto;
  }
}
.slider {
  padding: 40px 0;
  transition: 0.5s ease-in-out;
  .hero-2content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1300px) {
      height: 363px;
    }

    .head-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 15px;
      justify-content: center;
    }

    .image-content {
      position: relative;
      overflow: hidden;
      @media (max-width: 1500px) {
        width: 300px;
      }
      @media (max-width: 1300px) {
        width: 280px;
        height: 364px;
      }
      @media (max-width: 1000px) {
        width: 220px;
        height: 364px;
      }

      img {
        max-width: 270px;
        height: 361px;
        border-radius: 5px;
        border: 1px solid transparent;
        object-fit: cover;
        @media (max-width: 1800px) {
          max-width: 260px;
          height: 500px;
        }
        @media (max-width: 1000px) {
          max-width: 350px;
          height: 400px;
        }

        @media (min-width: 1000px) {
          width: 277px; // Revert to original width for larger screens
          height: 361px; // Revert to original height for larger screens
        }
      }

      .heart {
        display: none;
        position: absolute;
        top: 5%;
        right: 3%;
      }

      .addToCart {
        position: absolute;
        top: 40%;
        left: 30%;
        opacity: 0;
        transition: 0.5s ease-in-out;
        @media (max-width: 1000px) {
          opacity: 1;
          left: 33%;
          top: 90%;
        }
        button {
          @include cartButton;
        }

        button:after {
          content: " ";
          width: 0%;
          height: 100%;
          background: #262626;
          position: absolute;
          transition: all 0.4s ease-in-out;
          right: 0;
        }

        button:hover::after {
          right: auto;
          left: 0;
          width: 100%;
        }

        button span {
          text-align: center;
          text-decoration: none;
          width: 100%;
          padding: 10px 20px;
          color: #262626;
          font-size: 13px;
          font-weight: 700;
          word-spacing: 1px;
          z-index: 20;
          transition: all 0.3s ease-in-out;
        }

        button:hover span {
          color: #ffffff;
          animation: scaleUp 0.3s ease-in-out;
        }
        .bag-icon-cart {
          position: absolute;
          left: 4%;
          top: 28%;
          height: 15px;
          width: 15px;
        }

        span {
          padding-left: 5px;
        }
      }
      &:hover {
        .addToCart {
          opacity: 1;
          transition: 0.5s ease-in-out;
        }
      }

      &:hover img {
        border-radius: 5px;
        transform: scale(1.1);
        filter: blur(2px);
        transition: 0.4s ease-in-out;
      }
    }

    .bottom-content {
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 24px; /* Adjust line-height for larger screens */
      color: #828282;

      a {
        color: #262626;
        font-size: 16px; /* Adjust font size for larger screens */
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
}
