body {
  margin: 0;
  padding: 0;
  font-family: "Manrope";
  scroll-behavior: smooth;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 2000px;
  margin: 0 auto;
}

@font-face {
  font-family: "Manrope";
  src: url(../src/Assets/Fonts/static/Manrope-Regular.ttf);
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.lazyload {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Semi-transparent white background */
  z-index: 9999; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: #145333;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 600;
  }
  .svgimg {
    animation: spiny 1s linear infinite;
    padding: 14px;
  }

  .lazyload-layer {
    width: 100px; /* Adjust the size of the loading animation */
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1); /* Border for the spinner */
    border-radius: 50%; /* Makes it circular */
    border-top-color: #333; /* Color of the spinner */
    animation: spinx 1s linear infinite; /* Animation to rotate the spinner */
  }
}

@keyframes spinx {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spiny {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
